html, body {
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
header {
    background-color: blanchedalmond;
    position: relative;
    border-bottom: 10px solid #000;
    width: 100%;
    padding: 0 0 50px;
    box-sizing: border-box; /*Esta propiedad, con ese valor, hace que el padding quede dentro de la anchura que hemos asignado. La anchura no varia. asignemos el padding que asignemos.*/
    text-align: center;
}
#top {
    background-color: aliceblue;
}
nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    column-gap: 10px;
}
nav ul li a {
    display: inline-block;
    margin: 5px 0px;
}
#top nav ul {
    justify-content: flex-end;
}
nav ul li a {
    padding: 5px 10px;
    background-color: aquamarine;
}
main {
    background-color: rgb(181, 241, 243);
    padding: 100px 50px;
}
footer {
    background-color: darkgray;
    padding: 50px 0;
}
p {
    font-size: 1rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}