 table  {
    border: 1px solid black;
    /*  border-collapse: collapse;*/
    width: 100%;
}


td , th{
    border: 1px solid black;
    height: 50px;
    
}
th{
    background-color: rgb(236, 178, 178);
}